body {
    background-image: url(./img/project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Libre Barcode 128 Text', cursive;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
